<main>
  <div class="container">
    <div class="row">
      <div class="about">
        <h1>About</h1>
        <h4>
          ながのCAKEは全国発送可能なケーキ屋さんです。</br>
          お子様からお年寄りの方までお召し上がりいただけるように、</br>
          様々なバリエーションをご用意しております。</br>
          また、全国へ発送可能なので「いつ」でも「どこ」でもご注文いただけます。</br>
          ぜひご注文ください。
        </h4>
        <div>
          <%= image_tag "cakes-ged81f5101_1280.jpg", class: "w-50 h-25" %>
        </div>
      </div>
    </div>
  </div>
</main>