<main>
  <div class="container">
    <h4>
      <strong>注文履歴詳細</strong>
    </h4>
    <div class="row">
      <table class="table table-bordered">
        <tbody>
          <% @order.each do |order| %
          <tr>
            <td>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>