/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

main {
  width: 100%;
}

.container {
  margin-top: 20px;
}


.top{
  width: 700px;
  height: 300px;
  margin: 20px auto;
  background-image: image-url("cakes-ged81f5101_1280.jpg");
}

.top-text {
  width: 500px;
  height: 150px;
  background-color: #ddd;
  margin: 100px;
  padding: 20px 10px;
  display: inline-block;
}

.about {
  text-align: center;
}


.field {
  margin-bottom: 10px;
}

li {
  margin-top: 20px;
  margin-right: 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #000;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border-top: 1px solid #000;
  //position: absolute;
  //bottom: 0;
}

.items {
  width: 100%;
}

.top-item {
  width: 700px;
  margin: 0 auto;
}

.item-wrap {
  display: flex;
  flex-wrap: wrap;
}

.item-box {
  width: 20%;
  margin: 10px;
}


.thanks {
  height: 200px;
  padding-top: 80px;
}

strong {
  font-size: 25px;
  margin-right: 10px;
}

.box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.text {
  text-align: center;
}

